.blue-smoke-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: linear-gradient(
    to top,
    rgba(3, 7, 26, 1),
    rgba(3, 7, 26, 0.9),
    transparent
  );
  pointer-events: none;
}
